<h1 class="text-center mt-5">Inventario</h1>

<section class="mt-3">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">IMAGEN</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">STOCK</th>
      <th scope="col">PRECIO</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td><img src="/public/imgs/{{this.imagen}}" alt="{{this.nombre}}"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.precio}}</td>
            <td><a href="/update/productos/{{this.id}}" class="btn btn-warning">Modificar</a></td>
            <td><button class="btn btn-danger">Eliminar</button></td>
        </tr>
    {{/each}}
  </tbody>
</table>

</section>

<style>
    table img{
        width: 100px;
    }
</style>